node_modules/{

















out/.vscode/.idea/.vercelyarn-error.logyarn-debug.lognpm-debug.log*.pem.DS_Store*.env.*.local*.env.local*.env*.localbuild/dist/.next/  "extends": "next/core-web-vitals"
}
